.faq {
    padding: 50px 0;
    height: 60vh;

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        color: var(--light-text-color, #FFF);
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.125rem;
        letter-spacing: 0.0125rem;
    }

    &__description {
        color: var(--light-text-color, #FFF);
        text-align: center;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.0125rem;
        margin: .62rem 0 2.81rem;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        padding: 3.12rem 0 0;
        gap: 1.88rem;

    }

    &__card {
        width: calc(33% - (1.88rem * 2) / 3);
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        padding: 1.56rem 2.03rem 1.56rem 3.84rem;
        text-align: left;
        border-radius: 0.5625rem;
        background: #FFF;
        box-sizing: border-box;
    }

    &__arrow {
        font-size: 1.5em;
        position: absolute;
        top: 1.56rem;
        left: 2.03rem;
        margin-right: 5px;
        color: #333;
    }

    &__question {
        color: var(--text-color, #252B42);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.00625rem;
    }

    &__answer {
        color: var(--second-text-color, #737373);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.0125rem;
    }

    @media only screen and (max-width: 600px) {
        min-height: 60vh;
        height: unset;
        padding: 2rem 1rem;

        &__card {
            width: 100%;
        }
    }
}
