.header {
    position: relative;

    &__mobile-button {
        display: none;
        background-color: unset;
        color: #FFF;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        font-weight: 700;
    }

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 600px) {
            padding: 1rem .5rem;
        }
    }

    &__brand {
        font-size: 1.5em;
    }

    &__pages {
        flex-grow: 1;
        padding: 0 2rem;

        a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
            font-size: .9rem;
        }
    }

    &__buttons {
        display: flex;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__button {
        background-color: unset;
        color: #FFF;
        border: none;
        padding: 8px 15px;
        margin-left: 10px;
        cursor: pointer;
        font-weight: 700;

        &--join {
            border-radius: 0.3125rem;
            background: var(--primary-color, #8D5CF6);
            color: var(--light-text-color, #FFF);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.375rem;
            letter-spacing: 0.0125rem;
        }
    }

    @media only screen and (max-width: 600px) {

        &__button,
        &__pages {
            display: none;
        }

        &__buttons {
            flex-direction: column;
        }

        &__button--join,
        &__mobile-button {
            display: block;
        }
    }
}
