.watch-courses {
    padding: 50px 0;
    background-color: #8d5cf6;

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        width: 50%;
        background: url("../../assets/WatchBackground.png") no-repeat;
        height: 500px;
        min-height: 30px;
        background-size: contain;
    }

    &__right {
        width: 50%;
        padding-left: 20px;
    }

    &__title {
        color: var(--light-text-color, #FFF);
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.125rem;
        letter-spacing: 0.0125rem;
        position: relative;

        &::before {
            position: absolute;
            top: -2.19rem;
            left: 0;
            content: "";
            width: 5.875rem;
            height: 0.4375rem;
            background: var(--danger-color, #E74040);
        }
    }

    &__description {
        color: var(--light-text-color, #FFF);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        margin: 2.19rem 0;
        line-height: 1.25rem;
        letter-spacing: 0.0125rem;
    }

    &__button {
        color: var(--primary-text-color, #8D5CF6);
        font-size: 0.875rem;
        background-color: unset;
        border: none;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.0125rem;
    }
}
