/* .header {
  position: relative;
}

.header__mobile-button {
  display: none;
  background-color: unset;
  color: #FFF;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700;
}

.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  font-size: 1.5em;
}

.header__pages {
  flex-grow: 1;
  padding: 0 2rem;
}

.header__pages a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: .9rem;
}

.header__buttons {
  display: flex;
}

.header__button {
  background-color: unset;
  color: #FFF;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
}

.header__button--join {
  border-radius: 0.3125rem;
  background: var(--primary-color, #8D5CF6);
  color: var(--light-text-color, #FFF);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0.0125rem;
}

@media only screen and (max-width: 600px) {

  .header__wrapper {
    padding: 1rem .5rem;
  }

  .header__button,
  .header__pages {
    display: none;
  }

  .header__buttons {
    flex-direction: column;
  }

  .header__button--join,
  .header__mobile-button {
    display: block;
  }
} */

/**/

/* .banner {
  padding: 50px 0;
  height: calc(100vh - 130px);
}

.banner__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__left {
  width: 50%;
}

.banner__subtitle {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  color: var(--primary-color, #8D5CF6);
}

.banner__title {
  color: var(--light-text-color, #FFF);
  font-size: 3.625rem;
  font-style: normal;
  font-weight: 700;
  margin: 2rem 0;
  letter-spacing: 0.0125rem;
}

.banner__description {
  color: var(--light-text-color, #FFF);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
}

.banner__buttons {
  margin-top: 20px;
}

.banner__button {
  background-color: none;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 0.3125rem;
  border: 1px solid var(--light-gray-2, #ECECEC);
}

.banner__button--get {
  border-radius: 0.3125rem;
  background: var(--primary-color, #8D5CF6);
}

.banner__right {
  width: 50%;
  background: url("./assets/HeadlineBackground.png") no-repeat;
  height: 500px;
  min-height: 30px;
  background-size: cover;
}

.banner__right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .banner {
    padding: 3rem 1rem;
    background: url("./assets/HeadlineBackground.png") no-repeat;
    background-size: contain;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/HeadlineBackground.png');
  }
  
  .banner__left {
    width: 100%;
  }
  .banner__right {
    display: none;
  }
} */

/**/

/* .watch-courses {
  padding: 50px 0;
  background-color: #8d5cf6;
}

.watch-courses__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-courses__left {
  width: 50%;
  background: url("./assets/WatchBackground.png") no-repeat;
  height: 500px;
  min-height: 30px;
  background-size: contain;
}

.watch-courses__right {
  width: 50%;
  padding-left: 20px;
}

.watch-courses__title {
  color: var(--light-text-color, #FFF);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
  position: relative;
}

.watch-courses__title::before {
  position: absolute;
  top: -2.19rem;
  left: 0;
  content: "";
  width: 5.875rem;
  height: 0.4375rem;
  background: var(--danger-color, #E74040);
}

.watch-courses__description {
  color: var(--light-text-color, #FFF);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  margin: 2.19rem 0;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.watch-courses__button {
  color: var(--primary-text-color, #8D5CF6);
  font-size: 0.875rem;
  background-color: unset;
  border: none;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
} */

/**/
/* 
.our-popular {
  padding: 50px 0;
  height: 70vh;
  display: flex;
  align-items: center;
  background-color: #ff7b52;
}

.our-popular__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-popular__left,
.our-popular__right {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.our-popular__title {
  color: var(--light-text-color, #FFF);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
  position: relative;
  margin-bottom: 20px;
}

.our-popular__title::before {
  position: absolute;
  top: -2.19rem;
  left: 0;
  content: "";
  width: 5.875rem;
  height: 0.4375rem;
  background: var(--danger-color, #E74040);
}

.our-popular__description {
  color: var(--light-text-color, #FFF);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.our-popular__button {
  color: var(--primary-text-color, #8D5CF6);
  font-size: 0.875rem;
  background-color: unset;
  border: none;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  margin-bottom: 30px;
}

.our-popular__right {
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.our-popular__card {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.our-popular__card img {
  max-width: 100%;
  height: auto;
}

.our-popular__name {
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.our-popular__card-description {
  padding: 15px;
  color: #666;
}

@media only screen and (min-width: 600px) {
  .our-popular__wrapper {
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .our-popular__wrapper {
    width: 100%;
  }
} */

/**/
/* 
.every-client-matter {
  padding: 50px 0;
}

.every-client-matter__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.every-client-matter__subtitle {
  color: var(--primary-text-color, #8D5CF6);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.every-client-matter__title {
  color: var(--light-text-color, #FFF);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
}

.every-client-matter__short-description {
  color: var(--light-text-color, #FFF);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.every-client-matter__cards {
  display: flex;
  padding: 5rem 0 0;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}

.every-client-matter__card {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  background-color: #FFF;
}

.every-client-matter__card img {
  max-width: 100%;
  height: auto;
}

.every-client-matter__info {
  padding: 1.56rem 1.56rem 2.19rem;
}

.every-client-matter__seal {
  border-radius: 0.1875rem;
  background: var(--danger-color, #E74040);
  padding: .3rem .62rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}

.every-client-matter__header {
  display: flex;
  justify-content: space-between;
}

.every-client-matter__join-us {
  color: var(--primary-text-color, #8D5CF6);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.every-client-matter__star-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem;
  border-radius: 1.25rem;
  background: var(--dark-background-color, #26335D);
}

.every-client-matter__star {
  color: #ffd700;
  width: 1rem;
  height: 1rem;
}

.every-client-matter__rating-note {
  color: var(--light-text-color, #FFF);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.0125rem;
}

.every-client-matter__card-title {
  color: var(--text-color, #252B42);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}

.every-client-matter__card-description {
  color: var(--second-text-color, #737373);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin: .63rem 0;
  letter-spacing: 0.0125rem;
}

.every-client-matter__download {
  color: var(--second-text-color, #737373);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.every-client-matter__learn-more {
  background-color: unset;
  color: #fff;
  padding: .62rem 1.25rem;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 2.3125rem;
  border: 1px solid var(--primary-color, #8D5CF6);  
  color: var(--primary-color, #8D5CF6);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

@media only screen and (max-width: 600px) {
  .every-client-matter {
    padding: 2rem 1rem;
  }

  .every-client-matter__short-description {
    margin: 20px 0;
  }

  .every-client-matter__cards {
    padding: 1rem 0;
  }
} */

/**/

.testimonials {
  padding: 50px 0;
  height: 100vh;
  background-color: #8d5cf6;
}

.testimonials__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.testimonials__subtitle {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.testimonials__title {
  color: var(--light-text-color, #FFF);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
  margin: .63rem 0;
}

.testimonials__description {
  color: var(--light-text-color, #FFF);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin-bottom: 5rem;
}

.testimonials__cards {
  display: flex;
  gap: .63rem;
}

.testimonials__card {
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
  padding: 3.44rem 1.56rem 1.56rem;
}

.testimonials__commentary {
  color: var(--second-text-color, #737373);
  text-align: center;
  width: 9.9375rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin: .94rem auto 1.87rem;
}

.testimonials__rating {
  display: flex;
  justify-content: center;
  color: #ffd700;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.testimonials__star {
  margin-right: 5px;
}

.testimonials__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 10px;
}

.testimonials__details {
  color: #333;
}

.testimonials__name {
  font-weight: bold;
  margin: 0;
}

.testimonials__profile {
  margin: 0;
  color: #666;
}

@media only screen and (max-width: 600px) {
  .testimonials {
    padding: 2rem 1rem;
  }
}

/**/

.faq {
  padding: 50px 0;
  height: 60vh;
}

.faq__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.faq__title {
  color: var(--light-text-color, #FFF);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
}

.faq__description {
  color: var(--light-text-color, #FFF);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin: .62rem 0 2.81rem;
}

.faq__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 3.12rem 0 0;
  gap: 1.88rem;
}

.faq__card {
  width: calc(33% - (1.88rem * 2) / 3);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  padding: 1.56rem 2.03rem 1.56rem 3.84rem;
  text-align: left;
  border-radius: 0.5625rem;
  background: #FFF;
  box-sizing: border-box;
}

.faq__arrow {
  font-size: 1.5em;
  position: absolute;
  top: 1.56rem;
  left: 2.03rem;
  margin-right: 5px;
  color: #333;
}

.faq__question {
  color: var(--text-color, #252B42);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}

.faq__answer {
  color: var(--second-text-color, #737373);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

@media only screen and (max-width: 600px) {
  .faq {
    min-height: 60vh;
    height: unset;
    padding: 2rem 1rem;
  }

  .faq__card {
    width: 100%;
  }
}
/**/

.newsletter {
  padding: 50px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.newsletter__wrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.newsletter__subtitle {
  color: var(--primary-text-color, #8D5CF6);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.newsletter__title {
  font-size: 2.5em;
  color: var(--light-text-color, #FFF);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
  margin: .62rem 0 0;
}

.newsletter__description {
  color: var(--light-text-color, #FFF);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin: 0 0 5rem;
}

.newsletter__form {
  display: flex;
  justify-content: center;
}

.newsletter__input {
  padding: 10px;
  width: 100%;
  border-radius: .3125rem 0 0 .3125rem;
  border: 1px solid #E6E6E6;
  background: #F9F9F9;
  color: var(--second-text-color, #737373);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
}

.newsletter__button {
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  border: 1px solid #E6E6E6;
  background: var(--primary-color, #8D5CF6);
  color: var(--light-text-color, #FFF);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
  padding: .94rem 1.41rem;
}

@media only screen and (max-width: 600px) {
  .newsletter {
    height: auto;
  }

  .newsletter__input {
    width: auto;
  }
}

/**/

.footer {
  background-color: #fff;
  color: #fff;
  padding: 50px 0;
}

.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__pages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__section {
  flex: 1;
  margin-bottom: 20px;
}

.footer__section-title {
  color: var(--text-color, #252B42);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
  margin-bottom: 0.63rem;
}

.footer__section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__section li a {
  padding: .62rem 0;
}

.footer__section li a {
  color: var(--second-text-color, #737373);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.footer__made-with-love {
  color: var(--second-text-color, #737373);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.footer__social-icons {
  display: flex;
  gap: 10px;
}

.footer__social-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer__wrapper {}

  .footer__section {
    width: 50%;
    flex: auto;
  }

  .footer__bottom {
    flex-wrap: wrap;
  }

  .footer__made-with-love,
  .footer__social-icons {
    width: 100%;
    text-align: center;
  }
}